#container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#header-container{
    background-color: #808080;
    width: 300px;
}
#header{
    margin-left: 10px;
    text-align: center;
}
#input-container{
    background-color: #808080;
    width: 280px;
    padding: 10px;
}
#calculator-input{
    width: 256px;
    padding: 10px;
}
#keyboard{
    background-color: #808080;
    width: 280px;
    padding: 10px;
}
#keyboard > button{
    font-size: 20px;
    margin: 2px;
    width: 52px;
    height: 52px;
}
#keyboard > #reset{
    width: 108px;
    height: 52px;
}
#result-container{
    background-color: #808080;
    width: 280px;
    padding: 10px;
}
#resultHeader{
    text-align: center;
}
#result{
    text-align: center;
    font-size: 20px;
}



